.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/photos/bike-bg.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__title {
    margin-bottom: 80px;
    color: $main-text-color;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include mediumDevices {
      font-size: 40px;
    }

    @include smallDevices {
      font-size: 32px;
    }
  }

  &__bottom {
    padding-bottom: 40px;
    @include contentPaddingInline;
  }

}
